<!-- This document was generated programatically. Do not change it! -->

<header id="monnomHeader" class="monnom-header monnom-context">
    <div id="monnomHeader_links" class="monnom-header-wrapper">
        <div>Logo</div>
        <div id="monnomContactTrigger">Kontakt</div>
        <div>Práce</div>
    </div>
</header>

<div id="gameRoot"></div>

<dialog id="monnomContactDialog" class="monnom-context monnom-dialog">
<!-- wp:template-part {"slug":"contact-dialog-element"} /-->
</dialog>

<div id="monnomLoader" class="monnom-context monnom-loader monnom-loader__loading monnom-loader__inPlace">
    <div>Loading...</div>
</div>