.state__button {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: transparent;

    padding-bottom: 1rem;
    cursor: pointer;

    color: var(--wp--preset--color--contrast);

    transition: color .3s ease-in-out;

    svg {
        // background: #f3f3f0;
        transition: background-color .3s ease-in-out;
    }

    &:hover {

        color: var(--wp--preset--color--accent);
        svg {
            background: rgb(255, 255, 177);
        }
    }
}