:root {
    --offcanvas-width: 100%;
    --offcanvas-height: 100vh;
    --offcanvas-backdrop-width: 0;
}

.monnom-offcanvas {

    position: fixed;

    --offcanvas-width: 100%;

    z-index: 1000;

    top: 0;
    right: calc(var(--offcanvas-width) * -1);
    // overflow: hidden;
    height: 100vh;
    transition: all .3s ease-in-out;



    @media (min-width: 600px) {

        --offcanvas-width: 400px;
    }

    .scroll-shadow-box::before {
        opacity: var(--shadow-top-opacity);
        background: linear-gradient(180deg, rgba(235, 233, 219, 1), transparent);
        top: 0;
    }

    .scroll-shadow-box::after {
        opacity: var(--shadow-bottom-opacity);
        background: linear-gradient(0deg, rgba(235, 233, 219, 1), transparent);
        bottom: 0;
    }

    .scroll-shadow-box::before,
    .scroll-shadow-box::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2rem;
        z-index: 1;
        left: 0;
        transition: .3s;
    }


}

.monnom-offcanvas__content {

    transition: all .3s ease-in-out;

    width: var(--offcanvas-width);
    right: calc(var(--offcanvas-width) * -1);
    height: var(--offcanvas-height);

    box-sizing: border-box;
    // padding: 1rem;

    font-size: var(--wp--preset--font-size--medium);

    background: yellow; // rgb(235, 233, 219);
    position: absolute;
    top: 0;
}

.monnom-offcanvas__backdrop {
    width: var(--offcanvas-backdrop-width);
    height: 100vh;
    right: 0;
    top: 0;
    position: absolute;
}


.monnom-offcanvas__content__header {

    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0;
        padding: 0;
        font-size: var(--wp--preset--font-size--medium);
    }


    button {
        margin: 0;
        padding: 0;
        border: 0;

        background: 0;
        cursor: pointer;
    }

}

.monnom-offcanvas__content__scroller {
    height: calc(100% - 2rem);

    /* Apply custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 12px;
        /* Scrollbar width */
    }

    /* Scrollbar track */
    ::-webkit-scrollbar-track {
            background: yellow; // transparent; // #333; /* Track color */
    }

    /* Scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background: #666;
        /* Thumb color */
        border-radius: 10px;
        /* Thumb border-radius */
    }

    /* Scrollbar thumb states */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Hover thumb color */
    }

    ::-webkit-scrollbar-thumb:active {
        background: #444;
        /* Active thumb color */
    }
}

.monnom-offcanvas__open {

    right: 0;
    width: 100vw;

    --offcanvas-backdrop-width: 100vw;

    .monnom-offcanvas__content {
        right: 0;
    }


}