body {
    // background: red;
    overflow: hidden;
    background: black;
}

.monnom-context {

}

.h-100 {
    min-height: 90vh;
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/media.min.css";

@import 'use-scroll-shadow/lib/index.css'; // don't forget import css

@import "./wordpress/loader.scss";
@import "./wordpress/menu.scss";
@import "./wordpress/dialog.scss";
@import "./universal/offcanvas.scss";



