body {
    // background: red;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

html {
    width: 100%;
    height: 100%;
}

.monnom-context {

}

/* Change Columns breakpoint to 500px */
@media (max-width: 899px){
    .entry-content .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 100% !important;
    }
    }
    @media (min-width: 1000px){
    .entry-content .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 0 !important;
        flex-grow: 1 !important;
    }
    }

.h-100 {
    min-height: 100%;

    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    box-sizing: border-box;

    @media ( min-height: 781px ) {
        min-height: 90vh;
    }
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/media.min.css";

@import 'use-scroll-shadow/lib/index.css'; // don't forget import css

@import "./wordpress/loader.scss";
@import "./wordpress/menu.scss";
@import "./wordpress/dialog.scss";
@import "./universal/offcanvas.scss";
@import "./universal/popover.scss";



