.composition_close {

    position: fixed;
    right: -2rem;
    top: calc( 50%  - 1rem);
    width: 2rem;

    transition: right .3s ease-in-out, color .3s ease-in-out;

    cursor: pointer;

    color: black;

    &[data-on="true"] {
        right: 1rem;
    }

    &:hover {
        color: red;
    }
}

.composition_close__wrapper {
    padding: 0 1rem;

    textarea, input, button {
        box-sizing: border-box;
        width: 100%;
        padding: .5rem;
        display: block;
        margin: 0;
        margin-bottom: .5rem;
        border: 0;
    }

    button {
        border: 0;
        color: white;
        background: black;
        cursor: pointer;

        &:hover,
            &:focus {
                background: green;
            }

    }

    button[disabled] {
        background: gray !important;
        cursor: not-allowed;
    } 

}

.monnom-composition__close__on {
    
}

.monnom-composition__close__off {
    
}