
$collapse-width: 600px;


.composition_close {

    position: fixed;
    right: -2rem;
    bottom: calc(50% - 1rem);
    width: 2rem;

    transition: right .3s ease-in-out, color .3s ease-in-out;

    cursor: pointer;

    color: black;

    &[data-on="true"] {
        right: 1rem;
    }

    &:hover {
        color: blue !important;
    }

    @media ( max-width: $collapse-width ) {
        bottom: 35% !important;
    }

}

.button {
    padding: 0;
    margin: 0;
    outline: 0;
    color: currentColor;
    width: 2rem;
    // height: 2rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

.composition_close__wrapper {
    padding: 3rem 1rem;

    div,
    textarea,
    input,
    button {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 1rem;
        border: 0;
        font-size: var(--wp--preset--font-size--medium);
        font-family: var(--wp--preset--font-family--relaway);
    }

    textarea,
    input,
    button {
        padding: .5rem;
    }

    textarea,
    input {
        background: yellow;
        border-bottom: black 2px solid;
        color: black;
        &:focus {
            outline: 0;
        }
        &::placeholder {
            color: black;
        }
    }

    button {
        border: 0;
        background: white;
        cursor: pointer;
        border: 2px solid black;
        color: black;

        transition: all .3s ease-in-out;

        &:hover,
        &:focus {
            background: var( --wp--preset--color--accent );
            outline: 0;
        }

    }

    button[disabled] {
        background: yellow !important;
        
        cursor: not-allowed;
    }

}


.label {
    padding: .3rem;
    width: min-content;
    white-space: nowrap;
    display: block;

    writing-mode: vertical-lr;
    text-orientation: mixed;

    
    font-family: var(--wp--preset--font-family--relaway);
    font-size: var(--wp--preset--font-size--medium);
    rotate: 180deg;

    @media (max-width: $collapse-width ) {
    }

    @media (min-width: $collapse-width ) {
        display: none;
    }
}