$collapse-width: 600px;


.composition_close {
    position: fixed;
    left: -2rem;
    bottom: calc(50% - 1rem);
    width: 2rem;

    cursor: pointer;

    color: black;

    transition: left .3s ease-in-out, color .3s ease-in-out;

    &[data-on="true"] {
        left: 1rem;
    }

    &:hover {
        color: blue !important;
    }

    @media ( max-width: $collapse-width ) {
        bottom: 35%;
    }
}

.button {
    padding: 0;
    margin: 0;
    outline: 0;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}



.label {
    padding: .3rem;
    padding-left: .1rem;
    width: min-content;
    white-space: nowrap;
    display: block;

    writing-mode: vertical-lr;
    text-orientation: mixed;

    font-family: var(--wp--preset--font-family--relaway);
    font-size: var(--wp--preset--font-size--medium);

    rotate: 180deg;

    @media (max-width: $collapse-width ) {
    }

    @media (min-width: $collapse-width ) {
        display: none;
    }

}