.monnom-header {

    font-family: var(--wp--preset--font-family--relaway);

}

.monnom-header {
    position: absolute;
    width: 100vw;
    height: 0;
    
    z-index: 400;

    transition: all .5s ease-in-out;
    top: -20rem;
}

.monnom-header__on {
    transform: all .5s ease-in-out;
    top: 0;
}

.monnom-header-wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 1rem;
}


$collapse: 900px;
.monnom-header__links {
    position: relative;
    flex-grow: 1;

    @media ( max-width: $collapse ) {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    @media ( min-width: $collapse ) {
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}

.monnom-header__link {
    cursor: pointer;

    border: 0;
    background: transparent;
    font-family: var(--wp--preset--font-family--relaway);
    font-size: var( --wp--preset--font-size--medium );
    color: var(--wp--preset--color--contrast);
    border-bottom: 0 !important;

    outline: 0;
    margin: 0;
    padding: 0;

    padding: .25rem;

    svg {
        width: 1rem;
        height: 1rem;
    }
}
.monnom-header__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 9999 !important;
    color: var(--wp--preset--color--contrast);
    font-family: var(--wp--preset--font-family--relaway);

    width: 3rem;

    svg {
        width: 3rem;
        position: fixed;
        z-index: 9999 !important;
    }

    @media ( min-width: 680px ) {
        width: 3.5rem;
    }

    @media ( min-width: 1200px ) {
        width: 4rem;
    }
}